:root {
  --border-radius: 12px;
  --primary-bg: #FFFFFF;
  --secondary-bg: #003BE5;
  --rating-bg: #E1E5EB;
  --secondary-text: #B0B3BB;
  --primary-button: #2FC18C;
  --category-text: #444955;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
